__pycache__/
build.xml
build.xml~
tabsigne3.pyc
test/
doc/img/
doc/source/interface.rst
doc/source/interface.rst~
build/
*.whl
TableauSigne.egg-info/
TableauSigne/data/html/.buildinfo
TableauSigne/data/doctrees/
TableauSigne/data/doc/
.gitignore
*.pyc